Repository Armor-test/storage-store-790, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-billing, @Armor-test/dept-logging, @Armor-test/squad-ux, @Armor-test/squad-performance, @Armor-test/dept-reporting, @Armor-test/squad-mobile, @Armor-test/dept-data, @Armor-test/squad-qa, @Armor-test/team-core, @Armor-test/unit-devops, @Armor-test/squad-search, @Armor-test/dept-api, @Armor-test/team-reporting, @Armor-test/dept-test, @Armor-test/squad-apps, @Armor-test/squad-cloud, @Armor-test/grp-reporting, @Armor-test/team-security, @Armor-test/squad-database, @Armor-test/dept-notifications, @Armor-test/squad-cache, @Armor-test/dept-reliability, @Armor-test/dept-automation, @Armor-test/squad-research, @Armor-test/team-governance, @Armor-test/squad-frontend, @Armor-test/squad-api, @Armor-test/squad-payments, @Armor-test/team-logging, @Armor-test/grp-payments, @Armor-test/squad-ml, @Armor-test/dept-release, @Armor-test/squad-product, @Armor-test/unit-governance, @Armor-test/grp-search, @Armor-test/dept-security, @Armor-test/squad-tooling, @Armor-test/grp-storage, @Armor-test/security, @Armor-test/auth-team, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/dependency-team

.github/CODEOWNERS:

# CODEOWNERS file for storage-store-790
# Global owners - will be requested for all PRs
* @Armor-test/dept-billing @Armor-test/dept-logging @Armor-test/squad-ux

# Directory ownership
/static/ @Armor-test/squad-performance @Armor-test/dept-reporting @Armor-test/squad-mobile
/tools/ @Armor-test/dept-data @Armor-test/squad-qa
/views/ @Armor-test/team-core @Armor-test/unit-devops @Armor-test/squad-mobile
/auth/ @Armor-test/squad-search @Armor-test/dept-api
/third_party/ @Armor-test/team-reporting @Armor-test/dept-test @Armor-test/squad-apps
/internal/ @Armor-test/squad-cloud @Armor-test/grp-reporting
/examples/ @Armor-test/dept-api @Armor-test/team-security
/models/ @Armor-test/squad-database @Armor-test/dept-notifications
/migrations/ @Armor-test/squad-database @Armor-test/dept-billing @Armor-test/dept-reporting
/extensions/ @Armor-test/unit-devops @Armor-test/squad-cache @Armor-test/dept-billing
/docs/ @Armor-test/dept-reliability @Armor-test/dept-automation
/test/ @Armor-test/dept-billing @Armor-test/squad-research @Armor-test/team-governance
/deploy/ @Armor-test/squad-frontend @Armor-test/squad-api
/data/ @Armor-test/squad-performance @Armor-test/squad-payments @Armor-test/team-logging
/pkg/ @Armor-test/team-reporting @Armor-test/squad-cloud @Armor-test/grp-payments

# File type ownership
*.gradle @Armor-test/squad-ml @Armor-test/team-core
*.config @Armor-test/dept-release @Armor-test/dept-test
*.java @Armor-test/squad-ml @Armor-test/squad-apps @Armor-test/squad-product
*.ts @Armor-test/squad-cloud @Armor-test/squad-qa @Armor-test/dept-api
*.ini @Armor-test/unit-governance @Armor-test/squad-qa
*.xml @Armor-test/grp-search @Armor-test/squad-api
*.scss @Armor-test/dept-security @Armor-test/dept-notifications @Armor-test/squad-tooling
*.tf @Armor-test/grp-storage @Armor-test/dept-api @Armor-test/squad-cloud
*.md @Armor-test/dept-automation @Armor-test/squad-research
*.scala @Armor-test/unit-devops @Armor-test/grp-payments
*.h @Armor-test/dept-logging @Armor-test/grp-storage @Armor-test/dept-automation

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
package.json @Armor-test/dependency-team @Armor-test/security

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/dept-billing, @Armor-test/dept-logging, @Armor-test/squad-ux

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-reliability, @Armor-test/dept-automation

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-billing, @Armor-test/squad-research, @Armor-test/team-governance

Add src/main.py
  src/main.py
Owners: @Armor-test/dept-billing, @Armor-test/dept-logging, @Armor-test/squad-ux

Add src/index.js
  src/index.js
Owners: @Armor-test/dept-billing, @Armor-test/dept-logging, @Armor-test/squad-ux
